div
{
    padding: 5px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.wiedza {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.informacje {
  display: flex;
  flex-wrap: nowrap;
  background-color: green;
}

.wiedza > div {
  background-image:url(Images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
  width: 100%;
  height: 500px;
  margin: 25px;
  text-align: center;
    vertical-align: middle;
  line-height: 350px;
    color: crimson;
  font-size: 30px;

}
.informacje > div {
  background-color: red;
  width: 100%;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.kontakt > div {
  background-color: lightblue;
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

 
}